header {
    background-color: black;
    padding: 8px;
    margin-bottom: 30px;
}

#image {
    float: left;
    margin-top: 8px;
}

.Web-Name {
    color: white;
    font-size: 22px;
    margin: 0px;
}

#Web-Link {
    color: white;
    opacity: 0.5;
    margin: 0px;
    font-size: 15px;
}

#Web-Link:hover {
    text-decoration: none;
    opacity: 1;
}

#follow-button {
    color: black;
    font-family: "Helvetica";
    font-size: 10px;
    background-color: greenyellow;
    border: 1px solid;
    border-color: black;
    border-radius: 3px;
    width: 60px;
    height: 20px;
    top: 50px;
    left: 50px;
    cursor: hand;
}

.A-Button {
    width: 50px;
    height: 50px;
    background-color: grey;
    float: right;
    font-size: 30px;
    border: 5px white;
    border-radius: 5px;
    margin: 3px;
}

#A-Link {
    text-decoration: none;
    color: white;
}

#A-Link:hover {
    text-decoration: none;
    color: black;
}

#main {
    background-color: darkgrey;
    margin: 10px;
    border: 5px black;
    border-radius: 5px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#img-div {
    margin: 30px;
    background-color: white;
}

#image2 {
    margin: 5px;
}

#img-caption {
    padding-bottom: 20px;
}

#Heading {
    font-size: 20px;
    margin: 50px;
}

#Lists {
    text-align: justify;
    margin: 70px;
    margin-left: 350px;
    margin-right: 350px;
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#Note {
    margin-left: 27%;
    margin-right: 30%;
    text-align: justify;
}

@media screen and (max-width: 576px) {
    #image2 {
        display: none;
        mask-image: none;
    }
    #tribute-info {
        float: left;
        margin: 5px;
        padding: 0px;
    }
}

@media screen and (max-width: 768px) {
    #img-div {
        display: none;
        mask-image: none;
    }
    #Lists {
        float: left;
        margin: 5px;
        padding: 0px;
    }
}

@media screen and (max-width: 992px) {
    #img-div {
        display: none;
        mask-image: none;
    }
    #Lists {
        float: left;
        margin: 5px;
        padding: 0px;
    }
}