header {
    background-color: black;
    padding: 8px;
}

#image {
    float: left;
    margin-top: 8px;
}

.Web-Name {
    color: white;
    font-size: 22px;
}

.Web-Link {
    color: wheat;
    opacity: 0.5;
}