header {
    background-color: black;
    padding: 8px;
}

#image {
    float: left;
}

.Web-Name {
    color: blanchedalmond;
    size: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}